
<div class="container">
  <div class="header">
    <h1><%= @article.title %></h1>
    <%= link_to edit_article_path do %>
    <h1><i class="fas fa-pencil-alt"></i></h1>
    <%end %>
    <%= link_to article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
    <h1><i class="fas fa-trash-alt"></i></h1>
    <%end %>
  </div>

  <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="">
  <p><%= @article.content%></p>
</div>
