// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: helvetica
}

.container {
  margin: 0 auto;
  width: 400px;
  height: 100%;

}
.header {
  display: flex;
  align-items: center;
}

.banner{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #C1CEFE;
}

a {
  text-decoration: none;
}
